- # encoding: utf-8
!!!
%html
 %head
  %title rtheta
  %script{src: "/js/jquery.min.js"}
  %script{src: "/js/main.js"}
  %link{rel: :stylesheet, href: "/css/bootstrap.min.css"}
  %link{rel: :stylesheet, href: "/css/main.css"}
 %body
  %h1 Rtheta
  %p sinatra and bootstrap boilerplate

  #xy.coord
   X-Y座標
  #polar.coord
   極座標
   .group
   #abs.coord1
    絶対座標系
   #relative.coord2
    相対座標系
   .clearfix
  .clearfix
