- # encoding: utf-8
!!!
%html
 %head
  %title rtheta
  %script{src: "/js/jquery.min.js"}
  %script{src: "/js/main.js"}
  %link{rel: :stylesheet, href: "/css/bootstrap.min.css"}
  %link{rel: :stylesheet, href: "/css/main.css"}
 %body

  #xy.coord
   X-Y座標
   .group
   #abs.coord1
    絶対座標系
    %canvas#xy-abs.viewer{width:"300px",height:"300px"}
   #relative.coord2
    相対座標系
    %canvas#xy-rel.viewer{width:"300px",height:"300px"}
   .clearfix
  #polar.coord
   極座標
   .group
   #abs.coord1
    絶対座標系
    %canvas#pol-abs.viewer{width:"300px",height:"300px"}
   #relative.coord2
    相対座標系
    %canvas#pol-rel.viewer{width:"300px",height:"300px"}
   .clearfix
  .clearfix



